.margin-right-10 {
    margin-right: 10px;
}

.detail-head {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.detail-text {
    font-size: 15px;
    margin-bottom: 20px;
}

.account-btn {
    display: inline-block !important;
    padding: 5px 10px !important;
    border: #fff 1px solid !important;
    color: #fff !important;
    font-size: 1.3rem !important;
    line-height: 1em !important;
    border-radius: unset !important;
    /* opacity: 0.7; */
    background-color: #15171a !important;
}

.nav-item {
    /* margin: unset !important; */
    line-height: unset !important;
    /* margin-top: -17px !important; */
    list-style-type: none;
}
.nav-item a {
    font-size: 12px;
}
.chapterBtn {
    width: 65px;
    border: none !important;
}
.accountLi {
    margin: unset !important;
}
.chapterBtn {
    border-radius: unset !important;
    background-color: #15171a !important;
    height: 24px !important;
    padding: 4px 4px !important;
}
.chapterBtn:hover {
    background-color: #15171a !important;
    text-decoration: none !important;
}
.nav-item .dropdown-menu {
    display: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.nav-item .dropdown-menu {
    margin-top: 0;
    max-width: 200px;
    /* height: 500px; */
    overflow: auto;
}

.allChapterUl {
    height: 500px;
    background-color: black !important;
}

.allChapterUl a {
    color: white;
}

.allChapterUl a:hover {
    text-decoration: none !important;
}

.account {
    color: white;
    padding: 4px 4px !important;
}

.account:hover {
    color: white;
    text-decoration: none;
}

.account:focus {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.modal {
    z-index: 99999 !important;
}

.modal-content {
    border-radius: 0px !important;
}

.modal h5::before {
    content: none !important;
}

.modal .modal-header::before {
    content: none !important;
}

.modal .modal-header::after {
    content: none !important;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media (max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

.cnfrmBtn {
    line-height: 0.428571 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    height: 25px;
    background: black !important;
    border-radius: 0px !important;
}

.marginWithBorder {
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal h5 {
    font-weight: bold;
    font-size: 20px;
}

.modal-body {
    animation: 1s slidein-left;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .logoImg {
        width: 40px;
        height: 40px;
    }

    .dropdown-item {
        font-size: 10px !important;
    }

    .StripeElement {
        width: 320px !important;
    }
}

#hot-display-license-info {
    display: none;
}

#export-file {
    width: 20%;
    margin-top: 10px;
}

.font14 {
    font-size: 14px;
}

.loginBtn {
    text-decoration: none;
}

.site-foot-nav {
    justify-content: center !important;
}

.helpBtn {
    background-color: black !important;
    border-radius: 0px !important;
    border: none !important;
    height: 25px;
}

.helpModalBtn {
    background: black !important;
    border-radius: 0px !important;
}

.helpDropdown ul {
    background-color: black;
    min-width: 15rem !important;
}

.helpDropdown ul li {
    padding-left: 0px;
}

.helpDropdown ul li a {
    color: white;
}

.helpDropdown ul li a:hover {
    color: black;
}

.react-viewer-img-details {
    display: none;
}

.react-viewer-attribute {
    font-size: 30px !important;
    color: white !important;
    font-weight: bold;
    opacity: unset !important;
}

.switch-handle {
    display: none !important;
}

.switch {
    position: fixed !important;
    bottom: 5px !important;
    right: 60px !important;
    z-index: 99999;
    border: unset !important;
    border-radius: 0px !important;
}

.switch-on,
.switch-off {
    font-size: 12px !important;
    font-family: sans-serif !important;
    background-color: black !important;
}

.switch-off.btn {
    padding-left: 0.5em !important;
}

.modal-title {
    font-size: 18px !important;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
    .switch {
        right: 5px !important;
    }
}

.helpModal {
    max-width: 80% !important;
}

#exampleModal3 {
    padding-right: 0px !important;
}

.searchFilter {
    position: absolute;
    /* background: white;
    color: black; */
    background: black;
    color: white;
    padding: 1em;
    max-height: 80vh;
    /* overflow: scroll; */
    width: 80vw;
    max-width: 30em;
    /* box-shadow: 0px 0px 5px 0px; */
}

.searchInput {
    color: black;
}

.filterHide {
    display: none;
}

.searchFilter a {
    text-decoration: none;
    /* color: black; */
    color: white;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.5em 0 0.5em;
    font-size: 1.3rem;
    margin-bottom: 0.2em;
}

.searchFilter div:hover {
    /* text-decoration: none; */
    /* background-color: white;
    color: black !important;
    cursor: pointer; */
}

.searchFilter a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.searchFilter div {
    margin-bottom: 0.2em;
}

.button-main {
    /* display: inline-block; */
    /* margin: 4px 2px; */
    font-size: 14px;
    /* padding-left: 32px;
    padding-right: 32px; */
    /* height: 50px; */
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    /* -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.button-main:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    color: black;
}

.search-container-main {
    /* position: fixed;
    display: inline-block; */
    margin: 4px 2px;
    height: 30px;
    width: 50px;
    /* vertical-align: bottom; */
    bottom: 0px;
    /* left: 180px; */
    /* z-index: 99999; */
}

.mglass-main {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.searchbutton-main {
    /* position: absolute; */
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search-main:focus + .searchbutton-main {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    /* background-color: white; */
    /* color: black; */
    display: none;
}

.search-main {
    position: absolute;
    /* left: 49px; */
    /* background-color: white; */
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    /* height: 70%; */
    /* z-index: 10; */
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    /* top: 3px; */
    /* color: black; */
    background-color: black;
    font-size: 12px !important;
    height: 25px !important;
}

.search-main::placeholder {
    color: white;
}

.search-main:focus {
    width: 150px;
    padding: 0 2px 0 2px;
    border: 1px black solid !important;
    margin-top: 3px;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
    .search-container-main {
        left: 78px;
    }

    .search-main:focus {
        width: 82px;
        /* height: 50px !important; */
    }

    .search-main {
    }
}
