.margin-right-10 {
    margin-right: 10px;
}

.detail-head {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.detail-text {
    font-size: 15px;
    margin-bottom: 20px;
}

.account-btn {
    display: inline-block !important;
    padding: 5px 10px !important;
    border: #fff 1px solid !important;
    color: #fff !important;
    font-size: 1.3rem !important;
    line-height: 1em !important;
    border-radius: unset !important;
    /* opacity: 0.7; */
    background-color: #15171a !important;
}

.nav-item {
    /* margin: unset !important; */
    line-height: unset !important;
    /* margin-top: -17px !important; */
    list-style-type: none;
}
.nav-item a {
    font-size: 12px;
}
.accountLi {
    margin: unset !important;
}
.btn-primary {
    border-radius: unset !important;
    background-color: #15171a !important;
    height: 24px !important;
    padding: 4px 4px !important;
}
.btn-primary:hover {
    background-color: #15171a !important;
    text-decoration: none !important;
}
.nav-item li a:hover {
    background-color: unset !important;
    text-decoration: underline !important;
    color: #23527c !important;
}
.nav-item .dropdown-menu {
    display: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.nav-item .dropdown-menu {
    margin-top: 0;
    max-width: 200px;
    /* height: 500px; */
    overflow: auto;
}

.allChapterUl {
    height: 500px;
}

.account {
    color: white;
    padding: 4px 4px !important;
}

.account:hover {
    color: white;
    text-decoration: none;
}

.account:focus {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.modal {
    z-index: 99999 !important;
}

.modal-content {
    border-radius: 0px !important;
}

.modal h5::before {
    content: none !important;
}

.modal .modal-header::before {
    content: none !important;
}

.modal .modal-header::after {
    content: none !important;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media (max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

.cnfrmBtn {
    line-height: 0.428571 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    /* background: #545b62;
    color: white; */
}

.marginWithBorder {
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal h5 {
    font-weight: bold;
    font-size: 20px;
}

.modal-body {
    animation: 1s slidein-left;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .logoImg {
        width: 40px;
        height: 40px;
    }

    .dropdown-item {
        font-size: 10px !important;
    }

    .StripeElement {
        width: 320px !important;
    }
}

#hot-display-license-info {
    display: none;
}

#export-file {
    width: 20%;
    margin-top: 10px;
}
